@import '../../styles/index.module.scss';
.container {
  display: flex;
  flex-direction: column;
  background-color: $background;
  height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 600px;
  width: 600px;
  background-color: $primary-white;
  align-self: center;
  margin-top: 50px;

  @include mobile {
    width: rem(342px);
  }
}
