@import '../../styles/index.module.scss';

.container {
  display: flex;
  flex-direction: column;
}

.text-area {
  width: rem(250px);
  min-height: rem(100px);
  box-sizing: border-box;
  border: rem(2px) solid $gold-secondary-light;
  border-radius: rem(4px);
  background-color: #f8f8f8;
  font-size: rem(16px);
  resize: none;
  color: $primary-gold;
  padding: rem(12px) rem(20px);
  font-weight: 700;
  font-family: 'Inter';

  &::placeholder {
    color: $primary;
    opacity: 1;
  }
  &:focus {
    outline: none;
    border: rem(1.5px) solid $primary-gold;
  }

  @include mobile {
    max-width: rem(300px);
  }
}
