@import '../../styles/index.module.scss';

.container {
  display: flex;
  flex-direction: column;
  background-color: $background;
}

.content-container {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  min-height: 600px;
  width: 950px;
  text-align: center;
  justify-self: center;
  background-color: $primary-white;
  border-radius: 10px;
  align-self: center;
  margin-top: 50px;
  align-self: center;
  margin-bottom: rem(100px);

  @include mobile {
    max-width: rem(340px);
  }
}

.textfield-container {
  margin-top: 80px;
}
