@import '../../styles/index.module.scss';

.accordion {
  width: 100%;
  border: 1px solid $secondary-gold;
  border-radius: rem(12px);
  background-color: $primary-white;
  overflow: hidden;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  }
}

.accordionHeader {
  width: 100%;
  padding: rem(16px);
  background: none;
  border: none;
  text-align: left;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: rem(16px);
}

.accordionBody {
  padding: 0 rem(16px);
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.5s ease,
    padding 0.5s ease;

  &.open {
    padding: rem(16px);
    max-height: rem(300px);
  }
}

.icon {
  transition: transform 0.4s ease;
}

.rotate {
  transform: rotate(180deg);
}
